@model int
<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Placed Successfully!</h1>
        Your Order Number is: @Model <br /><br />
        <img src="~/Images/download (1).png" width="65%" alt="Order Confirmation Image" />
    </div>
    <div class="text-center" style="color:red">
        <br />
@*         Your order was placed successfully!
 *@    </div>
</div>
